# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Eric\Desktop\NJIT Course Files\IS 601\Individual Project Create a Calculator Individual\Individual-Project-Create-a-Calculator--Individual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
